<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CamadaDados.Properties.Settings.cn" connectionString="Data Source=SERVIDOR\SQLEXPRESS;Initial Catalog=DB_WE;User ID=sa;Password=We147258"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>